models
__pycache__
*.html
*.db
*.log
node_modules

# rasa train nlu
confmat.png
errors.json
hist.png

# npx chatito chatito/ask_for_balances.chatito --format=rasa
rasa_dataset_testing.json
rasa_dataset_training.json
story_graph.dot
